body{
  background-color: paleturquoise;
}


#root {
  color:brown;
  
}
.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  text-align: center;
}

@media screen and (min-width: 580px){
  .root{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 7px;
  }
}

.back-btn{
  height: 30px;
  width: 100px;
}

.margin-top-bottom{
  margin-top: 20px;
  margin-bottom: 40px;
}
